
.mask-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.choice {
  width: 45%;
  margin:auto;
}

body {
  background-color: #013220;
}

#questionDescription{
  color: white;
  text-align: center;
}

.choiceList {
  align-items: center;
  display: flex;
}

#question{
  background-color: black;
  padding: 1%;
  margin:auto;
}

button {
  color: green;
  background: black;
}

.result {
  color: white;
  background-color: black;
  display: none;
  text-align: center;
}
